* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

:root {
    --purple: #663de2;
    --red: #F74F56;
    --white: #FFFFFF;
    --black: #16161A; 
    --blue: #2796ee;
}

/* media 1080 -> 93.75% */
/* media 720 -> 87.5% */


body {
    background-image: url('./img/background/background2.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    width: 98.4vw;
    height: 100%;
}

.home {
    width: 100%;
    height: 100vh;

    position: relative;
}

.content-home {
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);

    width: 50%;

    position: absolute;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.content-home h1 {
    color: var(--purple);
    font-size: 5rem;
    font-weight: 400;
    font-style: italic;
}

.content-home h2 {
    color: var(--white);
    font-size: 3.5rem;
    font-style: italic;
}

.description-home {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: lowercase;
    white-space: nowrap;
    text-align: center;

    overflow: hidden;

    border-right: 1px solid rgba(255, 255, 255, .75);
}

.description-about-me {
    font-size: 1.3rem;
    color: white;
    text-align: end;

    margin-top: 1rem;

}

.description-home span {
    color: var(--red);
}

.about {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    width: 90%;
    height: 80%;

    font-size: 2rem;
    color: white;

    background-color: black;
    border-radius: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content-about h2 {
    text-transform: capitalize;
    color: var(--white);
    font-size: 3.5rem;
}

.border-circle-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    
    width: 200px;
    height: 200px;
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, var(--purple), purple);
    padding: 20px;
    border-radius: 50%;

    box-shadow: var(--purple) 1px 1px 8px;
    animation: moveBorder 1000ms infinite alternate-reverse;
}

.circle-info {
    background-color: black;
    font-size: 4rem;
    color: var(--white);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle-info p {
    margin-top: 5px;
    animation: movePosition ease-in-out 300ms infinite alternate-reverse;
}

#espec {
    opacity: 0.2;
    font-size: 1.5rem;
}

.content-about .skills {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 30%;
    gap: 1rem;
}

.content-about .skills img {
    width: 7rem;
    cursor: pointer;
}

.projects {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-projects {
    width: 100%;
    height: 100%;
    
    background: #000;
    color: white;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content-projects h2 {
    color: white;
    text-transform: capitalize;
    font-size: 3.8rem;
}

.content-cards-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all .5s;
}

.card p {
    color: var(--white);
    font-size: 2rem;
    display: none;
    user-select: none;
    z-index: 3;
}

.card a {
    text-decoration: none;
    border-bottom: 3px solid rgb(134, 22, 134);
    border-radius: 10px;
}

.animationA {
    animation: animationBorder 200ms ease-out;
}

.card img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    filter: blur(0.20rem);
}

.card-hover {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(95deg, rgba(102, 61, 226, 0.7) 10%, rgba(128, 0, 128, 0.7) 90%);
    z-index: 2;
}

footer {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}

.content-footer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-footer svg {
    width: 30px;
    cursor: pointer;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 11.5em;
    }
}

@keyframes moveBorder {
    to {
        box-shadow: var(--purple) 0px 0px 8px;
    }
    from {
        box-shadow: var(--purple) 1.5px 1.5px 8px;
    }
}

@keyframes movePosition {
    from {
        margin-top: -3px;
    }
    to {
        margin-top: 3px;
    }
}

@keyframes animationBorder {
    from {
        border-width: 0;
    }
    to {
        border-width: 3px;
    }
}